/* Global */

.hero-container {
  background: url("../../components/images/img-home.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  position: relative;
  z-index: -1;
  top: 0;
}

.hero-container > h1 {
  color: #fff;
  font-size: 120px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 2.2rem;
  font-family: "PT Sans", sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

.aboutsection {
  background-color: #f9f7f7;
  font-size: 45px;
  border: none;
  padding-top: 0px;
  padding-left: 0px;
  height: auto;
}
.aboutsection2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dbe2ef;
  font-size: 45px;
  border: none;
  padding-bottom: 40px;
  width: 100%;
  height: auto;
}
.projectsectionmore {
  background: #f9f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  height: auto;
}

.expsection {
  background: #dbe2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  z-index: -1;
  padding-bottom: 50px;
}

.projectsection {
  background: #f9f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 80px);
  margin: 0;
}

.formik {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
}

.inputform {
  width: 500px;
  height: 50px;
  color: #424242;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  background-color: #fff;
  border-radius: 30px;
  border: none;
  padding: 0px 30px;
  box-sizing: border-box;
  margin: 0;
}

.contactsection {
  background: #dbe2ef;
  display: block;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.contactwrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  width: 100%;
}

.tabbutton {
  display: inline-flex;
  padding: 10px;
}

.buttonhead {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.links {
  padding: 10px;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.links:hover {
  border-bottom: 4px solid transparent;
  transition: all 0.2s ease-out;
}

.aboutlinks {
  padding: 0px;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.aboutlinks:hover {
  transition: all 0.2s ease-out;
}

.projectlinks {
  padding: 20px;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.projectlinks:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.MediumSpacing {
  margin: 20px;
}

.SmallSpacing {
  margin: 10px;
}

/* Row Section */

.projectRow {
  display: block;
  justify-content: left;
  background-color: #f9f7f7;
}

.Row {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  grid-gap: 2%;
  width: 100%;
  height: auto;
  text-align: left;
  margin: 6%;
}

.resumeRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resumeBorderRow {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 60px;
  border-top: solid 2px #393e46;
  width: 80%;
  text-align: left;
}

.resumeSubRow {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 15px;
  width: 80%;
  text-align: left;
}

.ProfilePicture {
  margin: 80px 0 0 0;
  text-align: center;
  width: 800px;
  height: 800px;
  background-color: #9e7777;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  float: right;
  overflow: hidden;
}

.image {
  margin-top: 5%;
  height: 95%;
}

/* Column Section */
.rightColumn {
  flex: 0.6;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: block;
  margin: auto;
  padding-left: 5%;
  position: relative;
}

.aboutRow {
  display: flex;
  justify-content: center;
  height: 75vh;
}

.leftColumn {
  flex: 0.4;
  overflow: hidden;
}

.contactrightColumn {
  flex: 0.7;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.contactRow {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  grid-gap: 2%;
  text-align: left;
}

.contactleftColumn {
  flex: 0.3;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 0;
}

.resumeColumn,
.projectColumn {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.projectColumnImg {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  height: auto;
  text-align: left;
  align-items: center;
  margin: 0 5% 0 0;
}

/* Title Font */
.aboutTitle {
  color: #393e46;
  font-size: 2rem;
  margin-top: 0px;
  text-decoration: none;
  text-align: left;
  font-weight: bold;
}

.resumeTitle,
.projectTitle {
  background-color: transparent;
  color: #393e46;
  margin-top: 1%;
  font-size: 60px;
  text-align: left;
  font-weight: Bold;
}

.contactTitle {
  color: #393e46;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

/* Sub-Title Font */
.aboutSubTitle {
  margin-top: 8px;
  color: #393e46;
  font-size: 3rem;
}

.contactSubTitle {
  color: #393e46;
  font-size: 20px;
  margin-left: 100px;
  text-align: left;
  font-weight: bold;
}

.resumeSubTitle {
  color: #112d4e;
  font-size: 1.8rem;
  margin-top: 4%;
  text-align: left;
  font-weight: Bold;
}

.projectSubTitle {
  color: #112d4e;
  font-size: 30px;
  margin-top: 8px;
  text-align: left;
  font-weight: Bold;
}

.heading {
  margin-top: 8px;
  color: #393e46;
  font-size: 1.7rem;
}

.centerheading {
  color: #393e46;
  font-size: 2.5rem;
  text-align: left;
  margin: 30px;
}

.verticalcenterheading {
  color: #393e46;
  font-size: 2.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 30px;
  display: block;
  margin: auto;
}

.resumeHead,
.projectHead {
  margin: 1% 20% 1% 0;
  color: #393e46;
  font-size: 1.4rem;
  text-align: left;
}

/* Body Font */
.aboutBody {
  margin-top: 1%;
  color: #393e46;
  font-size: 1.2rem;
  margin-right: 20%;
  text-align: justify;
}

.resumeBody {
  margin: 0 20% 1% 0;
  color: #393e46;
  font-size: 1.1rem;
  text-align: left;
  white-space: nowrap;
}

.projectBody {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 0px;
  color: #393e46;
  font-size: 20px;
  text-align: justify;
  justify-content: center;
}

/* Picture */

.ProjectImage {
  width: 90%;
  height: auto;
}

.ProjectImage2 {
  width: 50%;
  height: auto;
}

.social {
  color: #393e46;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

.exp {
  display: inline-flex;
  width: 90%;
  align-items: center;
  justify-content: space-evenly;
}

.exp1 {
  width: 25%;
  height: 40vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 15px 15px 15px;
  border-radius: 40px;
  margin-left: 2%;
}

.contentcenter {
  height: 30vh;
  display: table-cell;
  vertical-align: middle;
}

.logocontainer {
  width: 120px;
  height: auto;
  align-items: center;
  justify-content: center;
  display: inline-block;
  margin: 10px;
}

.logo {
  width: auto;
  height: 130px;
}

.details {
  margin-top: 5%;
}

h3 {
  margin-top: 8px;
  color: #393e46;
  font-size: 1.2rem;
}

h4 {
  margin-top: 8px;
  color: #393e46;
  font-size: 1.3rem;
}
.orderbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 2px;
}

.loading {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  z-index: 1px;
  border-radius: 200px;
  height: 60px;
  width: 373px;
  border: none;
  margin: auto;
}

.textarea {
  height: 150px;
  outline: none;
  border: 0px;
  border-radius: 20px;
  background-color: #f8fafb;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  padding: 10px 30px;
  box-sizing: border-box;
  color: #424242;
  resize: none;
  width: 500px;
}
.textarea::placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #c4c4c4;
}
.notificationText {
  margin-top: 3%;
  font-size: 1.2rem;
  color: #424242;
}
.sendbutton {
  margin-top: 3%;
  width: 55%;
  height: 60px;
  border-radius: 15px;
  font-size: 1.2rem;
  border-color: transparent;
  color: #f9f7f7;
  background-color: #deba9d;
  cursor: pointer;
}

.sendbutton:hover {
  border-color: #112d4e;
  color: #112d4e;
  background-color: #f5e8c7;
  transition: all 0.4s ease-in-out;
}

.downloadButton {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  /* Row Section */
  .aboutRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .aboutlinks {
    margin-left: 20px;
  }
  .resumeRow,
  .projectRow,
  .resumeBorderRow,
  .projectBorderRow {
    display: flex;
    flex-direction: column;
    grid-gap: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
  }

  .centerheading {
    color: #393e46;
    font-size: 2.2rem;
    text-align: center;
    margin: 2% 0 2% 0;
  }

  .heading {
    margin-top: 8px;
    color: #393e46;
    font-size: 1.5rem;
    margin-left: 20px;
    white-space: nowrap;
  }

  h3 {
    margin-top: 8px;
    margin-left: 20px;
    color: #393e46;
    font-size: 1.2rem;
  }

  h4 {
    margin-top: 8px;
    margin-left: 20px;
    color: #393e46;
    font-size: 1.1rem;
  }

  .logo {
    width: auto;
    height: 100px;
  }

  .exp {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2%;
  }

  .exp1 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .exp2 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .exp3 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contentcenter {
    width: 600px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2%;
  }
  .details {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    margin: 0;
    margin-left: 2%;
  }

  .logocontainer {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: flex-start;
  }

  .projectsection {
    background: #f9f7f7;
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 5% 0 5% 0;
  }

  .Row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0%;
  }

  .projectColumnImg {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2% 5% 0 5%;
  }

  .rightColumn {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px;
    padding-left: 0%;
  }

  .expsection {
    background: #dbe2ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    object-fit: contain;
    margin-top: 5%;
    padding-bottom: 0px;
  }

  .projectsectionmore {
    background: #f9f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    height: auto;
  }

  .buttonhead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  /* Column Section */
  .resumeColumn,
  .projectColumn {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1% 5% 3% 5%;
    position: relative;
  }

  .MediumSpacing {
    margin: 0px;
  }
  .resumeSubRow {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 15px;
    width: 100%;
    text-align: center;
  }

  .contactRow {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-gap: 0%;
    width: 100%;
    height: auto;
    text-align: left;
  }

  .formik {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .contactrightColumn {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: -10%;
  }

  .sendbutton {
    margin-top: 3%;
    width: 25%;
    height: 60px;
    border-radius: 15px;
    font-size: 1.2rem;
    border-color: transparent;
    color: #f9f7f7;
    background-color: #deba9d;
    cursor: pointer;
  }

  .sendbutton:hover {
    border-color: #112d4e;
    color: #112d4e;
    background-color: #f5e8c7;
    transition: all 0.4s ease-in-out;
  }

  .contactleftColumn {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    object-fit: cover;
  }

  /* Title Font */
  .aboutTitle {
    display: flex;
    width: 100%;
    color: #393e46;
    font-size: 1.8rem;
    margin-top: 0px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .resumeTitle,
  .projectTitle {
    background-color: transparent;
    color: #393e46;
    margin-top: 30px;
    font-size: 2.5rem;
    text-align: center;
    font-weight: Bold;
  }

  .contactTitle {
    color: #393e46;
    font-size: 1.8rem;
    margin-top: 60px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    display: flex;
  }

  /* Sub-Title Font */
  .aboutSubTitle {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    color: #393e46;
    font-size: 32px;
  }

  .contactSubTitle {
    margin-top: 8px;
    margin-left: 50px;
    color: #393e46;
    font-size: 1.2rem;
    text-align: left;
  }

  .projectSubTitle {
    color: #112d4e;
    font-size: 30px;
    margin-top: 8px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
  }

  .resumeSubTitle {
    color: #112d4e;
    font-size: 1.6rem;
    margin-top: 4%;
    text-align: left;
    font-weight: Bold;
  }

  .resumeHead,
  .projectHead {
    color: #35393f;
    font-size: 1.4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 2%;
    font-weight: bold;
  }

  /* Body Font */
  .aboutBody {
    margin-top: 8px;
    color: #393e46;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .resumeBody {
    margin: 0px;
    color: #393e46;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }

  .projectBody {
    margin: 0 5% 0 5%;
    color: #393e46;
    font-size: 1.2rem;
    text-align: justify;
    justify-content: center;
    align-items: center;
  }

  /* Picture */
  .ProfilePicture {
    margin: 30px 20px 30px 20px;
    text-align: center;
    background-color: #9e7777;
    width: auto;
    height: 400px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .leftColumn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    margin-top: 5%;
    height: 95%;
  }

  /* Button */
  .button {
    width: 100%;
    margin-top: 2%;
    margin-bottom: -20%;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 961px) and (max-width: 1300px) {
  .formik {
    width: 330px;
  }
  .inputform {
    width: 330px;
    height: 50px;
    color: #424242;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    background-color: #fff;
    border-radius: 30px;
    border: none;
    padding: 0px 30px;
    box-sizing: border-box;
    margin: 0;
  }
  .textarea {
    width: 330px;
  }

  .ProfilePicture {
    margin: 80px 0 0 80px;
    text-align: center;
    width: 650px;
    height: 650px;
    background-color: #9e7777;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    float: right;
    overflow: hidden;
  }

  .image {
    margin-top: 5%;
    height: 95%;
    margin-left: 7%;
  }

  /* Column Section */
  .rightColumn {
    flex: 0.6;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: block;
    margin: auto;
    padding-left: 5%;
    position: relative;
  }

  .aboutRow {
    display: flex;
    justify-content: center;
    height: 70vh;
  }

  .leftColumn {
    flex: 0.45;
    overflow: hidden;
  }

  .aboutBody {
    margin-top: 1%;
    color: #393e46;
    font-size: 1.2rem;
    margin-right: 10%;
    text-align: justify;
  }

  .expsection {
    background: #dbe2ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    object-fit: contain;
    padding-bottom: 0px;
  }

  .projectsection {
    background: #f9f7f7;
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 5% 0 5% 0;
  }

  .Row {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-gap: 2%;
    width: 100%;
    height: auto;
    text-align: left;
    margin: 5%;
  }

  .resumeColumn,
  .projectColumn {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: left;
    margin-right: 10%;
    position: relative;
  }

  .projectColumnImg {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    height: auto;
    text-align: left;
    align-items: center;
    margin: 5%;
  }

  .projectsectionmore {
    background: #f9f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    height: auto;
  }
  .exp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .exp1 {
    width: 100%;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1800px) {
  .ProfilePicture {
    margin: 80px 0 0 80px;
    text-align: center;
    width: 700px;
    height: 700px;
    background-color: #9e7777;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    float: right;
    overflow: hidden;
  }

  .image {
    margin-top: 5%;
    height: 95%;
  }

  /* Column Section */
  .rightColumn {
    flex: 0.55;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: block;
    margin: auto;
    padding-left: 5%;
    position: relative;
  }

  .aboutRow {
    display: flex;
    justify-content: center;
    height: 75vh;
  }

  .leftColumn {
    flex: 0.45;
    overflow: hidden;
  }

  .aboutBody {
    margin-top: 1%;
    color: #393e46;
    font-size: 1.2rem;
    margin-right: 10%;
    text-align: justify;
  }

  .expsection {
    background: #dbe2ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
    object-fit: contain;
    margin-top: 0%;
    padding-bottom: 0px;
  }

  .projectsection {
    background: #f9f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .buttonhead {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 10%;
  }

  .Row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: left;
  }

  .resumeColumn,
  .projectColumn {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: left;
    margin-right: 10%;
    margin-left: 10%;
    position: relative;
  }

  .projectColumnImg {
    display: flex;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 6% 3% 6%;
  }

  .projectsectionmore {
    background: #f9f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    height: auto;
  }
}

@media screen and (max-width: 750px) {
  .hero-container > h1 {
    color: #fff;
    font-size: 4.5rem;
    margin-top: -100px;
  }
  /* Row Section */
  .aboutRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .aboutlinks {
    margin-left: 0px;
  }
  .resumeRow,
  .projectRow,
  .resumeBorderRow,
  .projectBorderRow {
    display: flex;
    flex-direction: column;
    grid-gap: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
  }

  .centerheading {
    color: #393e46;
    font-size: 2.2rem;
    text-align: center;
    margin: 2% 0 2% 0;
  }

  .heading {
    width: 90%;
    margin-top: 8px;
    color: #393e46;
    font-size: 1.5rem;
    margin-left: 0px;
    white-space: normal;
  }

  h3 {
    margin-top: 8px;
    margin-left: 0px;
    color: #393e46;
    font-size: 1.2rem;
  }

  h4 {
    margin-top: 8px;
    margin-left: 0px;
    color: #393e46;
    font-size: 1.1rem;
  }

  .logo {
    width: auto;
    height: 100px;
  }

  .exp {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2%;
  }

  .exp1 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .exp2 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .exp3 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contentcenter {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .projectsection {
    background: #f9f7f7;
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 5% 0 5% 0;
  }

  .Row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0%;
  }

  .projectColumnImg {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2% 5% 0 5%;
  }

  .rightColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px;
    padding-left: 0%;
  }

  .expsection {
    background: #dbe2ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    object-fit: contain;
    margin-top: 5%;
    padding-bottom: 0px;
  }

  .projectsectionmore {
    background: #f9f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    height: auto;
  }

  .buttonhead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  /* Column Section */
  .resumeColumn,
  .projectColumn {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1% 5% 3% 5%;
    position: relative;
  }

  .MediumSpacing {
    margin: 0px;
  }
  .resumeSubRow {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 15px;
    width: 100%;
    text-align: center;
  }

  .contactRow {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-gap: 0%;
    width: 100%;
    height: auto;
    text-align: left;
  }

  .formik {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .inputform {
    width: 250px;
    height: 50px;
    color: #424242;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    background-color: #fff;
    border-radius: 30px;
    border: none;
    padding: 0px 30px;
    box-sizing: border-box;
    margin: 0;
  }
  .textarea {
    width: 250px;
    height: 200px;
    outline: none;
    border: 0px;
    border-radius: 20px;
    background-color: #f8fafb;
    margin-bottom: 5%;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    padding-top: 5%;
    padding-left: 10%;
    box-sizing: border-box;
    color: #424242;
    resize: none;
  }
  .textarea::placeholder {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #c4c4c4;
  }
  .contactrightColumn {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: -10%;
  }

  .sendbutton {
    margin-top: 3%;
    width: 25%;
    height: 60px;
    border-radius: 15px;
    font-size: 1.2rem;
    border-color: transparent;
    color: #f9f7f7;
    background-color: #deba9d;
    cursor: pointer;
  }

  .sendbutton:hover {
    border-color: #112d4e;
    color: #112d4e;
    background-color: #f5e8c7;
    transition: all 0.4s ease-in-out;
  }

  .contactleftColumn {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    object-fit: cover;
  }

  /* Title Font */
  .aboutTitle {
    display: flex;
    width: 100%;
    color: #393e46;
    font-size: 1.8rem;
    margin-top: 0px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .resumeTitle,
  .projectTitle {
    background-color: transparent;
    color: #393e46;
    margin-top: 30px;
    font-size: 2.5rem;
    text-align: center;
    font-weight: Bold;
  }

  .contactTitle {
    color: #393e46;
    font-size: 1.8rem;
    margin-top: 60px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    display: flex;
  }

  /* Sub-Title Font */
  .aboutSubTitle {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    color: #393e46;
    font-size: 32px;
  }

  .contactSubTitle {
    margin-top: 8px;
    margin-left: 50px;
    color: #393e46;
    font-size: 1.2rem;
    text-align: left;
  }

  .projectSubTitle {
    color: #112d4e;
    font-size: 30px;
    margin-top: 8px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
  }

  .resumeSubTitle {
    color: #112d4e;
    font-size: 1.6rem;
    margin-top: 4%;
    text-align: left;
    font-weight: Bold;
  }

  .resumeHead,
  .projectHead {
    color: #35393f;
    font-size: 1.4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 2%;
    font-weight: bold;
  }

  /* Body Font */
  .aboutBody {
    margin-top: 8px;
    color: #393e46;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 0px;
  }

  .resumeBody {
    margin: 0px;
    color: #393e46;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }

  .projectBody {
    margin: 0 5% 0 5%;
    color: #393e46;
    font-size: 1.2rem;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
  }

  /* Picture */
  .ProfilePicture {
    margin: 30px 20px 30px 20px;
    text-align: center;
    background-color: #9e7777;
    width: 90%;
    height: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .leftColumn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    width: 90%;
    margin-top: 5%;
    height: auto;
  }

  /* Button */
  .button {
    width: 100%;
    margin-top: 2%;
    margin-bottom: -20%;
    align-items: center;
    justify-content: center;
  }
}
